{% include "polls/head.html" %}

<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/polls/">主頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/polls/electric/">公共電費</a>
    </li>
  </ul> 
</div>

 
{% if DTSF01_list %}
    <ul>
    {% for sf01 in DTSF01_list %}
    	{% if forloop.first %}
			<table class="table ">
				    <thead class="thead-light">
				      <tr>
				        <th>房客</th>
				        <th>租約結束</th>
				        <th>租金</th>
				        <th>動作</th>
				      </tr>
				    </thead>
				    <tbody>
    	{% endif %}
			{% if sf01.IS_CONF == False %}
				<tr  class="table-warning">
			{% else %}
				<tr>
			{% endif %}
				<td data-toggle="modal" data-target="#CusModal" class="cus_data" data-id="{{sf01.id}}"><a href="#">{{ sf01.ROOM }}{{ sf01.NAME }}</a></td>

				{% if sf01.DAYLINE == True %}
					<td style="color:red">{{ sf01.END_DATE }}</td>
				{% else %}
					<td>{{ sf01.END_DATE }}</td>
				{% endif %}
				
				<td >{{ sf01.RENT_AMT }}</td>
				<td>
					<div class="btn-group">
					  <div class="btn-group">
					    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					       選擇
					    </button>
					    <div class="dropdown-menu">
					      <a class="dropdown-item" href="{% url 'list' sf01.id %}">繳費紀錄</a>
					      <a class="dropdown-item" href="{% url 'ins' sf01.id %}">新增繳費單</a>
					    </div>
					  </div>
					</div>
				</td>
			</tr>    	 
    {% endfor %}
    		<tbody>
    		</table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% include "polls/modal.html" %}
{% include "polls/footer.html" %}

