{% include "head.html" %}

<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/polls/">主頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/polls/electric/">公共電費</a>
    </li>
  </ul>
</div>



{% if DTSF03_list %}
    <ul>
    {% for sf03 in DTSF03_list %}
    	{% if forloop.first %}
			<table class="table ">
				    <thead class="thead-light">
				      <tr>
				        <th>電表</th>
				        <th>目前度數</th>
				        <th>元/每度</th>
				        <th>分攤人</th>
				        <th>動作</th>
				      </tr>
				    </thead>
				    <tbody>
    	{% endif %}
			<tr>
				<td>{{ sf03.DASHBOARD }}</td>
				<td>{{ sf03.THIS_DEGREES }}</td>
				<td>{{ sf03.TIMES }}</td>
				<td>{{ sf03.AVG_NUM }}</td>				
				<td>
					<div class="btn-group">
					  <div class="btn-group">
					    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					       選擇
					    </button>
					    <div class="dropdown-menu">
					      <button class="dropdown-item elec_data" data-toggle="modal" data-target="#ElecModal" data-id="{{ sf03.DASHBOARD }}">電費紀錄</button>			    	
					      <a class="dropdown-item" href="{% url 'elec_ins' sf03.id %}">新增電費單</a>
					    </div>
					  </div>
					</div>
				</td>
			</tr>    	 
    {% endfor %}
    		<tbody>
    		</table>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% include "modal2.html" %}
{% include "footer.html" %}

