<script type="text/javascript">
 /* action 待繳費 → 已繳費*/
$(document).ready(function() {
  
  // 一進畫面直接focus在本次電表度數欄位上
  $("#id_THIS_DEGREES").css("border-color","orange");
  $(".insert").hide();

  $("body").on("mousedown","#id_THIS_DEGREES",function(){
    $(this).val("");
    $(".calculation").prop("disabled",false);
    $(".insert").hide();
  });

  $("body").on("mousedown","#id_RENT_AMT",function(){ 
    $(this).val("");
  });
  $("body").on("mousedown","#id_DIPOSIT_AMT",function(){ 
    $(this).val("");
  });

  $("body").on("click",".calculation",function(){
      console.log("start calculation");
      var pub_dashboard = $("input[name=pub_dashboard]").val();
      if(pub_dashboard.startsWith("B")){ //楠都東街的要算公共電費
        console.log("todo B1,B2,B3...");
        $.ajax({
              dataType: 'json',
              type:'GET',
              url: '/polls/api/electric/' + pub_dashboard,
              data:{}
        }).done(function(data){
            var obj = JSON.parse(data);
            // var avg_amt = obj[0].fields.AVG_AMT;
            var input_date = $("input[name=INPUT_DATE]").val();
            var avg_amt = 0;            
            // 以輸入日期找到對應的該筆公共電費
            $.each( obj, function( key, value ) {
              if(input_date == value.fields.INPUT_DATE){
                avg_amt = value.fields.AVG_AMT;    
              }
            });            

            console.log("每人均電費:" + obj[0].fields.AVG_AMT);
            var times = $("input[name=times]").val() ;
            console.log("每度幾元:" + times);
            var last_degrees = $("input[name=LAST_DEGREES]").val();
            var this_degrees = $("input[name=THIS_DEGREES]").val(); 
            var electric_amt = (parseInt(this_degrees)-parseInt(last_degrees))*parseFloat(times);
            var rent_amt = $("input[name=RENT_AMT]").val() ; 
            var total_amt = parseInt(electric_amt) + parseInt(avg_amt) + parseInt(rent_amt);
            $("input[name=ELECTRIC_AMT]").val(parseInt(electric_amt));
            $("input[name=PUB_ELECTRIC_AMT]").val(parseInt(avg_amt));
            $("input[name=TOTAL_AMT]").val(total_amt);
            var msg = "你好，應繳納房租 "+ rent_amt + "，公共電費 " + avg_amt + "，個人電費 "+ parseInt(electric_amt)+ "，合計 "+ total_amt + " 元";   
            $("textarea[name=MESSAGE]").val(msg); 
            console.log("end calculation"); 
            $(this).prop( "disabled", true );
            $(".insert").show();      

        }); 
      }else{ // 楠梓新路的不需要算公共電費
        var times = $("input[name=times]").val() ;
        var last_degrees = $("input[name=LAST_DEGREES]").val();
        var this_degrees = $("input[name=THIS_DEGREES]").val();    
        var electric_amt = (parseInt(this_degrees)-parseInt(last_degrees))*parseFloat(times);
        var rent_amt = $("input[name=RENT_AMT]").val() ; 
        var total_amt = parseInt(electric_amt) + parseInt(rent_amt);
        $("input[name=ELECTRIC_AMT]").val(parseInt(electric_amt));
        $("input[name=TOTAL_AMT]").val(total_amt);
        var msg = "你好，本月房租共 " + total_amt + " 元(" + this_degrees + "-" + last_degrees + ")x"+times+"+"+rent_amt+"="+total_amt;
        $("textarea[name=MESSAGE]").val(msg);
        console.log("end calculation");
        $(this).prop( "disabled", true );
        $(".insert").show();
      }

  });

  

}); 


</script>